<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h1>11111111111</h1>
  <h2>
    <p>
      <span onclick="test()">333333333333</span>
    </p>
  </h2>
  <script>
    function test() {
      var p = document.querySelector('p')
      var span = document.createElement('span')
      var str = "<script>alert(2);<\/script>"
      span.innerHTML = unescape(escape(str))
      p.appendChild(unescape(escape(str)))
    }
  </script>
</body>
</html>